
@{
    ViewBag.Title = "DangKyThanhVien";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DangKyThanhVien</title>
</head>
<body>
    <div style="height:200px; display:flex;">
        <div style="margin:auto;">
            <h1 style="margin-top:20px; font-weight:900;">Congratulations!</h1>
        </div>
        
    </div>
</body>
</html>
